.article {
    margin-left:25%;
    margin-right:25%;
}
.articleThumb {
    margin-left: 20%;
    margin-right:20%;
    border-bottom: 6px solid black;
    border-bottom-style: double;
    /*list-style: ;*/
}
body {
    /*background-color: lightgray;*/
    font-family: 'JetBrains Mono', monospace;
}
h1,h2 { 
    font-weight: 900;
}
h3 {
    color: green; /*lighter green, lime preferably */
}
h4 {
    font-weight: 100;
    color: #606060;
}